node_modules
npm-debug.log
static/context.js
static/karma.js
.idea/*
*.iml
tmp/*
docs/_build
*.swp
*.swo
test/e2e/coverage/coverage
test/e2e/coverageQunit/coverage
test/e2e/coverageRequirejs/coverage
test/e2e/coffee-coverage/coverage
test-results.xml
test/unit/test.log
.DS_Store
/lib/**/*.js
/lib/**/*.js.map
/common/**/*.js
/common/**/*.js.map
/context/**/*.js
/context/**/*.js.map
/typings/
/test/unit/**/*.js
/test/unit/**/*.js.map
/client/*.js
/client/*.js.map
/test/client/*.js
/test/client/*.js.map
/bin/karma.js
/bin/karma.js.map
/tasks/*.js
/tasks/*.js.map
/index.js
/index.js.map
