node_modules
npm-debug.log
.idea/*
*.iml
tmp/*
docs/_build
*.swp
*.swo
test/e2e/console.log
test/e2e/coverage/coverage
test/e2e/coverageQunit/coverage
test/e2e/coverageRequirejs/coverage
test/e2e/coffee-coverage/coverage
test-results.xml
test/unit/test.log
.DS_Store
