// custom styling

.sti-menu li a h2 {
    padding:0 !important;
}

* { outline: none;}

// Mobile Portrait Size to Mobile Landscape Size (devices and browsers)
@media only screen and (max-width: 320px) {

    .container { width: 100%; }
    .container .columns,
    .container .column { margin: 0; }

    .container .one.column,
    .container .one.columns,
    .container .two.columns,
    .container .three.columns,
    .container .four.columns,
    .container .five.columns,
    .container .six.columns,
    .container .seven.columns,
    .container .eight.columns,
    .container .nine.columns,
    .container .ten.columns,
    .container .eleven.columns,
    .container .twelve.columns,
    .container .thirteen.columns,
    .container .fourteen.columns,
    .container .fifteen.columns,
    .container .sixteen.columns,
    .container .one-third.column,
    .container .two-thirds.column { width: 100%; }

    .whyus img {
        max-width: 95% !important;
    }

    .image-post img {
        min-width: 247px !important;
    }

    #footer.thumbs li, #sidebar.thumbs li {
        width: 45.6% !important;
    }

    .subscribe input.mail {
        width:91% !important;
    }

    .subscribe input.submit {
        float:none !important;
        margin:0 !important;
        width:97.5% !important;
    }

    span.copyright {
        line-height:20px !important;
    }

    .social a {
        margin:0 14px 0 0 !important;
    }

    .sti-menu li a, .sti-menu li a:hover {
        border-right:0 !important;
        border-left:0 !important;
    }

    input.search {
        width: 84% !important;
    }

    .form-elements2 input[type="text"] {
        width: 94% !important;
    }

    #clock-ticker .block {
        margin: 0 5px 30px 3px !important;
        padding: 10px 14px !important;
    }

    input.subscribe-text {
        width: 85% !important;
    }

    input.subscribe-button {
        width: 99% 	!important;
    }

    h1.big {
        font-size: 126px !important;
    }

    input.text, textarea {
        width: 90.8% !important;
    }

}

