name: Test

on:
  pull_request:
    branches:
      - master

jobs:
  linux:
    name: "[Node ${{ matrix.node }} on Linux] Lint (commit description and source) and Test: Unit (client and server), E2E and Integration"
    runs-on: ubuntu-latest
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        node:
          - 10
          - 12
    env:
      BROWSERSTACK_USERNAME: ${{ secrets.BROWSERSTACK_USERNAME }}
      BROWSERSTACK_ACCESS_KEY: ${{ secrets.BROWSERSTACK_ACCESS_KEY }}
      SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
      SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm ci
      - run: npm run commitlint -- --verbose --from `git merge-base origin/master $GITHUB_SHA`
      - run: npm run lint
      - run: npm run build:check
      - run: npm run test:unit
      - run: npm run test:e2e
      - run: npm run test:client
      - run: npm run test:integration
  windows:
    needs: linux
    name: "[Node ${{ matrix.node }} on Windows] Lint (commit description and source) and Test: Unit (client and server), E2E and Integration"
    runs-on: windows-latest
    strategy:
      max-parallel: 1
      fail-fast: false
      matrix:
        node:
          - 10
          - 12
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - run: npm ci
      - run: npm run test:unit
